[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
floyd-cli = "*"
pylint = "*"

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
tensorboard = "*"

[requires]
python_version = "3.7"
